@import 'tailwindcss';

* {
  margin-block: 0 !important;
  margin: 0 !important;
}

.btn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5px !important;
}
